n8n_workflow.json
{
  "name": "Staff Training Document Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "staff-list",
              "name": "staffList",
              "value": "=[{\"name\":\"cheyena\",\"startDate\":\"2022-01-01\",\"endDate\":\"2025-04-07\",\"agency\":\"Attentive\"},{\"name\":\"Layah Carlebach\",\"startDate\":\"2025-11-03\",\"endDate\":\"2026-02-11\",\"agency\":\"Abode\"}]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ],
      "id": "set-staff-data",
      "name": "Set Staff List (edit this)"
    },
    {
      "parameters": {
        "jsCode": "const staffList = JSON.parse($input.first().json.staffList);\nreturn staffList.map(staff => ({ json: staff }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "split-staff",
      "name": "Split Into Individual Staff"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR-SERVER-URL.com/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name, startDate: $json.startDate, endDate: $json.endDate || '', agency: $json.agency || 'Attentive' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "id": "call-api",
      "name": "Generate Documents (API)"
    },
    {
      "parameters": {
        "operation": "createFolder",
        "folderName": "={{ $json.staffName }}",
        "driveId": {
          "__rl": true,
          "value": "default",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_PARENT_FOLDER_ID_HERE",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ],
      "id": "create-folder",
      "name": "Create Staff Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process ALL staff items \u2014 robust version with debug\nconst output = [];\nconst folderItems = $input.all();\n\nlet apiItems = [];\ntry {\n  apiItems = $('Generate Documents (API)').all();\n} catch(e) {\n  return [{ json: { error: 'Could not reference API node: ' + e.message } }];\n}\n\nfor (let i = 0; i < folderItems.length; i++) {\n  const folderId = folderItems[i].json.id;\n  const api = apiItems[i];\n  \n  if (!api || !api.json) continue;\n  \n  // Handle different N8N response structures\n  const apiJson = api.json;\n  const files = apiJson.files || apiJson.data?.files || [];\n  const staffName = apiJson.staffName || apiJson.data?.staffName || 'Unknown';\n  \n  for (const file of files) {\n    output.push({\n      json: {\n        fileName: file.fileName,\n        fileType: file.type,\n        folderId,\n        staffName\n      },\n      binary: {\n        data: {\n          data: file.content,\n          mimeType: file.type === 'docx'\n            ? 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'\n            : 'application/pdf',\n          fileName: file.fileName\n        }\n      }\n    });\n  }\n}\n\nif (output.length === 0) {\n  return [{\n    json: {\n      error: 'No files generated',\n      debug_folderCount: folderItems.length,\n      debug_apiCount: apiItems.length,\n      debug_apiKeys: apiItems.map((a, i) => ({ i, keys: Object.keys(a.json || {}) }))\n    }\n  }];\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "id": "prepare-files",
      "name": "Prepare Files for Upload"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "default",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folderId }}",
          "mode": "id"
        },
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1560,
        300
      ],
      "id": "upload-file",
      "name": "Upload to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Staff List (edit this)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Staff List (edit this)": {
      "main": [
        [
          {
            "node": "Split Into Individual Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Individual Staff": {
      "main": [
        [
          {
            "node": "Generate Documents (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Documents (API)": {
      "main": [
        [
          {
            "node": "Create Staff Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Staff Folder": {
      "main": [
        [
          {
            "node": "Prepare Files for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Files for Upload": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}